@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --purpleColorLighter: #a42de8;
  --blueColorLighter: #318aff;
  --blueColorDarker: #2d3de8;
  --bgColor: #ffffff;
  --fgColor: #800080;
  --fgColorLighter: rgba(128, 0, 128, 0.5);
  --headerTextColor: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #422142;
    --fgColor: #f0c4f0;
    --fgColorLighter: rgba(210, 169, 210, 0.5);
    --headerTextColor: var(--fgColor);
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DynaPuff', cursive;
}
